* {
    box-sizing: border-box;
}

body {
    margin: 32px 0 0;
    font-family: 'Roboto', sans-serif;
}

.project-manage__title {
    text-align: center;
    margin: 32px 0 64px;
}

.project-manage__title-h1 {
    font-weight: 700;
    margin-bottom: 16px;
}

.project-manage__title-h2 {
    font-weight: 400;
    color: grey;
    margin: 16px 0;
}

.project-manage__title-p {
    font-weight: 300;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: grey;
}

.project-manage__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.project-manage__item-button {
    text-align: center;
}

.project-manage__item-button button {
    border: 0.5px solid rgb(214, 214, 214);
    border-radius: 6px;
    background-color: #1ce8b5;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.project-manage__item-button button:hover {
    background-color: #4CAF50;
    color: white;
}

.project-manage__item-button button:active {
    box-shadow: inset 0 0 0 3px #3a7999;
}

.project-manage__item-card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-manage__item-card-wrapper {
    width: calc(100% / 3);
    padding: 32px;
    margin-bottom: 32px;
}

.project-manage__item-title {
    text-align: center;
}

.project-manage__item-text {
    text-align: center;
}

.information-line {
    display: flex;
    margin: 128px 0 0;
    flex-wrap: wrap;
}

.information-line__item-card1 {
    width: 25%;
    display: flex;
    background-color: lightskyblue;
    height: 160px;
    align-items: center;
    padding: 16px;
    justify-content: center;
}

.information-line__item-card2 {
    width: 25%;
    display: flex;
    background-color: #81b0fe;
    height: 160px;
    align-items: center;
    padding: 16px;
    justify-content: center;
}

.information-line__item-card3 {
    width: 25%;
    display: flex;
    background-color: #b287fd;
    height: 160px;
    align-items: center;
    padding: 16px;
    justify-content: center;
}

.information-line__item-card4 {
    width: 25%;
    display: flex;
    background-color: #e880fb;
    height: 160px;
    align-items: center;
    padding: 16px;
    justify-content: center;
}

.information-line__item-info {
    margin-left: 32px;
    font-weight: 400;
    color: white;
}